USE [master]
GO
/****** Object:  Database [Online_Agricultural_Consultant_DB]    Script Date: 3/30/2021 6:42:05 PM ******/
CREATE DATABASE [Online_Agricultural_Consultant_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Online_Agricultural_Consultant_DB', FILENAME = N'E:\Installss\MSSQL15.MSSQLSERVER\MSSQL\DATA\Online_Agricultural_Consultant_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Online_Agricultural_Consultant_DB_log', FILENAME = N'E:\Installss\MSSQL15.MSSQLSERVER\MSSQL\DATA\Online_Agricultural_Consultant_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Online_Agricultural_Consultant_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Online_Agricultural_Consultant_DB]
GO
/****** Object:  Table [dbo].[tblAdmin]    Script Date: 3/30/2021 6:42:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAdmin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AdminUserID] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblArticle]    Script Date: 3/30/2021 6:42:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblArticle](
	[ArticleId] [int] IDENTITY(1,1) NOT NULL,
	[Subject] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreationDate] [datetime] NULL,
	[Image] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ArticleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDistrict]    Script Date: 3/30/2021 6:42:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDistrict](
	[DestrictCode] [int] IDENTITY(1,1) NOT NULL,
	[DestrictName] [nvarchar](max) NULL,
	[StateCode] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DestrictCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblExpertDetails]    Script Date: 3/30/2021 6:42:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblExpertDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ExpertId] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[MiddleName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[MobileNo] [nvarchar](max) NULL,
	[EmailID] [nvarchar](max) NULL,
	[Dob] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[District] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[ExpertIn] [nvarchar](max) NULL,
	[SpecialistIn] [nvarchar](max) NULL,
	[EducationLevel] [nvarchar](max) NULL,
	[EducationDetails] [nvarchar](max) NULL,
	[CertificateDetails] [nvarchar](max) NULL,
	[ExperinceInYears] [int] NULL,
	[Availibility] [nvarchar](max) NULL,
	[AadharNo] [nvarchar](max) NULL,
	[PanNo] [nvarchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[DeleteDate] [datetime] NULL,
	[Status] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFarmerDetails]    Script Date: 3/30/2021 6:42:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFarmerDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FarmerId] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[MiddleName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[District] [nvarchar](max) NULL,
	[Block] [nvarchar](max) NULL,
	[PINCode] [int] NULL,
	[Address] [nvarchar](max) NULL,
	[MobileNo] [nvarchar](max) NULL,
	[Dob] [datetime] NULL,
	[Gender] [nvarchar](max) NULL,
	[FarmerType] [nvarchar](max) NULL,
	[FarmerCategory] [nvarchar](max) NULL,
	[AadharNo] [nvarchar](max) NULL,
	[CreatedDate] [nvarchar](max) NULL,
	[ModifiedDate] [nvarchar](max) NULL,
	[DeletedDate] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblKisaanKendraDetails]    Script Date: 3/30/2021 6:42:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKisaanKendraDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KKId] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[District] [nvarchar](max) NULL,
	[Block] [nvarchar](max) NULL,
	[Village] [nvarchar](max) NULL,
	[NoOfFarmers] [int] NULL,
	[NoOfRegApp] [int] NULL,
	[NoOfSiteVisitApp] [int] NULL,
	[Status] [nvarchar](max) NULL,
	[Owner] [nvarchar](max) NULL,
	[Mobile] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblQueryDetails]    Script Date: 3/30/2021 6:42:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblQueryDetails](
	[QueryNo] [int] IDENTITY(1,1) NOT NULL,
	[FarmerId] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[CreationDate] [datetime] NULL,
	[SolvedBy] [nvarchar](max) NULL,
	[SolutionDate] [datetime] NULL,
	[Solution] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[QueryNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRegularIssue]    Script Date: 3/30/2021 6:42:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRegularIssue](
	[IssueId] [int] IDENTITY(1,1) NOT NULL,
	[FarmerID] [nvarchar](max) NULL,
	[IssueType] [nvarchar](max) NULL,
	[Subject] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[ModificationDate] [datetime] NULL,
	[SolvedBy] [nvarchar](max) NULL,
	[SolutionDate] [datetime] NULL,
	[FeedBack] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[Solution] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IssueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSiteVisit]    Script Date: 3/30/2021 6:42:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSiteVisit](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationId] [nvarchar](max) NULL,
	[FarmerId] [nvarchar](max) NULL,
	[FieldType] [nvarchar](max) NULL,
	[FieldLocation] [nvarchar](max) NULL,
	[CropDesc] [nvarchar](max) NULL,
	[ProblemDesc] [nvarchar](max) NULL,
	[CreationDate] [datetime] NULL,
	[ModificationDate] [datetime] NULL,
	[DeletionDate] [datetime] NULL,
	[AssignedAsst] [nvarchar](max) NULL,
	[VisitDate] [datetime] NULL,
	[SolutionDate] [datetime] NULL,
	[VisitIntervalInHrs] [int] NULL,
	[ClosingDate] [datetime] NULL,
	[Feedback] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSoilTesting]    Script Date: 3/30/2021 6:42:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSoilTesting](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TestId] [nvarchar](max) NULL,
	[FarmerId] [nvarchar](max) NULL,
	[ApplicationDate] [datetime] NULL,
	[SoilType] [nvarchar](max) NULL,
	[Nutrient] [nvarchar](max) NULL,
	[Acidity] [nvarchar](max) NULL,
	[PhLevel] [nvarchar](max) NULL,
	[TestedBy] [nvarchar](max) NULL,
	[TestDate] [datetime] NULL,
	[DeletionDate] [datetime] NULL,
	[HealthCardNo] [nvarchar](max) NULL,
	[VisitDate] [datetime] NULL,
	[SolutionDate] [datetime] NULL,
	[VisitIntervalInHrs] [int] NULL,
	[ClosingDate] [datetime] NULL,
	[Feedback] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblStaffDetails]    Script Date: 3/30/2021 6:42:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStaffDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmpId] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[MiddleName] [datetime] NULL,
	[LastName] [nvarchar](max) NULL,
	[MobileNo] [nvarchar](max) NULL,
	[EmailID] [nvarchar](max) NULL,
	[Dob] [datetime] NULL,
	[Gender] [nvarchar](max) NULL,
	[FullAddress] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Department] [nvarchar](max) NULL,
	[AadharNo] [nvarchar](max) NULL,
	[PanNo] [nvarchar](max) NULL,
	[RoleID] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[DeletedDate] [datetime] NULL,
	[Status] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblState]    Script Date: 3/30/2021 6:42:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblState](
	[StateCode] [int] IDENTITY(1,1) NOT NULL,
	[StateName] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[StateCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblStatusDetails]    Script Date: 3/30/2021 6:42:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStatusDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StatusId] [nvarchar](max) NULL,
	[ApplicationNo] [nvarchar](max) NULL,
	[ApplicationType] [nvarchar](max) NULL,
	[FarmerId] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVillage]    Script Date: 3/30/2021 6:42:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVillage](
	[VillageCode] [int] IDENTITY(1,1) NOT NULL,
	[VillageName] [nvarchar](max) NULL,
	[DestrictCode] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[VillageCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblAdmin] ON 

INSERT [dbo].[tblAdmin] ([ID], [AdminUserID], [Password]) VALUES (1, N'Admin', N'123456')
SET IDENTITY_INSERT [dbo].[tblAdmin] OFF
GO
SET IDENTITY_INSERT [dbo].[tblArticle] ON 

SET IDENTITY_INSERT [dbo].[tblArticle] OFF
GO
SET IDENTITY_INSERT [dbo].[tblDistrict] ON 

INSERT [dbo].[tblDistrict] ([DestrictCode], [DestrictName], [StateCode]) VALUES (1, N'Araria. Araria District', 1)
INSERT [dbo].[tblDistrict] ([DestrictCode], [DestrictName], [StateCode]) VALUES (2, N'Arwal. Arwal Police, Bihar.', 1)
INSERT [dbo].[tblDistrict] ([DestrictCode], [DestrictName], [StateCode]) VALUES (3, N'Aurangabad.', 1)
SET IDENTITY_INSERT [dbo].[tblDistrict] OFF
GO
SET IDENTITY_INSERT [dbo].[tblExpertDetails] ON 

SET IDENTITY_INSERT [dbo].[tblExpertDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[tblFarmerDetails] ON 

INSERT [dbo].[tblFarmerDetails] ([ID], [FarmerId], [Password], [FirstName], [MiddleName], [LastName], [State], [District], [Block], [PINCode], [Address], [MobileNo], [Dob], [Gender], [FarmerType], [FarmerCategory], [AadharNo], [CreatedDate], [ModifiedDate], [DeletedDate], [Status]) VALUES (1, N'FARM195082', N'EVRUTC', N'Nirmal', NULL, N'Thapa', N'2', N'5', N'11091', 110091, N'Bihar', N'9874563214', CAST(N'2021-03-09T00:00:00.000' AS DateTime), N'Male', N'small', N'owner', N'hfhfhfh', N'3/15/2021 1:39:21 AM', NULL, NULL, NULL)
INSERT [dbo].[tblFarmerDetails] ([ID], [FarmerId], [Password], [FirstName], [MiddleName], [LastName], [State], [District], [Block], [PINCode], [Address], [MobileNo], [Dob], [Gender], [FarmerType], [FarmerCategory], [AadharNo], [CreatedDate], [ModifiedDate], [DeletedDate], [Status]) VALUES (2, N'FARM722915', N'NYBAUA', N'Abdul', N'Hal', N'Ansari', N'3', N'10', N'BAK123456', 110065, N'Assam, Baksha', N'9716580695', CAST(N'2021-03-02T00:00:00.000' AS DateTime), N'Male', N'small', N'owner', N'XBC110224', N'3/28/2021 10:28:13 AM', NULL, NULL, NULL)
INSERT [dbo].[tblFarmerDetails] ([ID], [FarmerId], [Password], [FirstName], [MiddleName], [LastName], [State], [District], [Block], [PINCode], [Address], [MobileNo], [Dob], [Gender], [FarmerType], [FarmerCategory], [AadharNo], [CreatedDate], [ModifiedDate], [DeletedDate], [Status]) VALUES (3, N'FARM682266', N'QNTYTC', N'Abhimanyu', N'kumar', N'Gautam', N'2', N'6', N'BAK123456', 110065, N'Aligarh', N'9716580695', CAST(N'1997-06-11T00:00:00.000' AS DateTime), N'Male', N'marginal', N'owner', N'XBC110224', N'3/30/2021 12:01:55 PM', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblFarmerDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[tblKisaanKendraDetails] ON 

INSERT [dbo].[tblKisaanKendraDetails] ([ID], [KKId], [Password], [State], [District], [Block], [Village], [NoOfFarmers], [NoOfRegApp], [NoOfSiteVisitApp], [Status], [Owner], [Mobile]) VALUES (1, N'KKRSJOWK', N'RSJOWK', N'1', N'1', N'456', N'village', 12, 12, 12, N'active', NULL, NULL)
INSERT [dbo].[tblKisaanKendraDetails] ([ID], [KKId], [Password], [State], [District], [Block], [Village], [NoOfFarmers], [NoOfRegApp], [NoOfSiteVisitApp], [Status], [Owner], [Mobile]) VALUES (2, N'KKFHVELC', N'FHVELC', N'3', N'10', N'BAK123456', N'Baksha', 12, 12, 12, N'active', NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblKisaanKendraDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[tblQueryDetails] ON 

INSERT [dbo].[tblQueryDetails] ([QueryNo], [FarmerId], [Title], [Description], [CreationDate], [SolvedBy], [SolutionDate], [Solution], [Content]) VALUES (1, N'FARM195082', N'Farming', NULL, CAST(N'2021-03-20T12:07:35.980' AS DateTime), N'STAFF590287', CAST(N'2021-03-20T14:45:28.847' AS DateTime), N'You Can Check Quality', N'how to Test Soil Quality')
INSERT [dbo].[tblQueryDetails] ([QueryNo], [FarmerId], [Title], [Description], [CreationDate], [SolvedBy], [SolutionDate], [Solution], [Content]) VALUES (2, N'FARM722915', N'Farming', NULL, CAST(N'2021-03-29T23:13:08.080' AS DateTime), N'STAFF330083', CAST(N'2021-03-29T23:16:06.693' AS DateTime), N'Soil is good , but iutertion must be required', N'How to farm onions')
INSERT [dbo].[tblQueryDetails] ([QueryNo], [FarmerId], [Title], [Description], [CreationDate], [SolvedBy], [SolutionDate], [Solution], [Content]) VALUES (3, N'FARM722915', N'Farming', NULL, CAST(N'2021-03-29T23:13:35.000' AS DateTime), N'STAFF330083', CAST(N'2021-03-29T23:16:12.713' AS DateTime), N'You Can Check Quality', N'How to farm tomato')
SET IDENTITY_INSERT [dbo].[tblQueryDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[tblRegularIssue] ON 

INSERT [dbo].[tblRegularIssue] ([IssueId], [FarmerID], [IssueType], [Subject], [Description], [CreateDate], [ModificationDate], [SolvedBy], [SolutionDate], [FeedBack], [Status], [Solution]) VALUES (1, N'FARM195082', N'Soil Test', N'Subjet Is for Soil ', N'djkfjsdhfkj', CAST(N'2021-03-20T00:35:21.313' AS DateTime), CAST(N'2021-03-20T02:15:21.303' AS DateTime), N'EXP215552', CAST(N'2021-03-20T02:15:21.303' AS DateTime), N'Good Advice', N'Solved', N'Soil is good , but iutertion must be required')
INSERT [dbo].[tblRegularIssue] ([IssueId], [FarmerID], [IssueType], [Subject], [Description], [CreateDate], [ModificationDate], [SolvedBy], [SolutionDate], [FeedBack], [Status], [Solution]) VALUES (2, N'FARM195082', N'Soil Test', N'Subjet Is for Soil ', N'sfgdfhgfhgf', CAST(N'2021-03-20T02:33:55.307' AS DateTime), CAST(N'2021-03-20T02:37:00.233' AS DateTime), N'EXP215552', CAST(N'2021-03-20T02:37:00.233' AS DateTime), N'Good Advice', N'Solved', N'Soil is good , but iutertion must be required')
INSERT [dbo].[tblRegularIssue] ([IssueId], [FarmerID], [IssueType], [Subject], [Description], [CreateDate], [ModificationDate], [SolvedBy], [SolutionDate], [FeedBack], [Status], [Solution]) VALUES (3, N'FARM722915', N'बैंगन की उन्नत खेती कैसे करें !', N'बैंगन की उन्नत खेती कैसे करें !', N'बैंगन की उन्नत खेती कैसे करें !', CAST(N'2021-03-30T09:54:11.497' AS DateTime), NULL, NULL, NULL, NULL, N'pending', NULL)
SET IDENTITY_INSERT [dbo].[tblRegularIssue] OFF
GO
SET IDENTITY_INSERT [dbo].[tblSiteVisit] ON 

SET IDENTITY_INSERT [dbo].[tblSiteVisit] OFF
GO
SET IDENTITY_INSERT [dbo].[tblSoilTesting] ON 

INSERT [dbo].[tblSoilTesting] ([ID], [TestId], [FarmerId], [ApplicationDate], [SoilType], [Nutrient], [Acidity], [PhLevel], [TestedBy], [TestDate], [DeletionDate], [HealthCardNo], [VisitDate], [SolutionDate], [VisitIntervalInHrs], [ClosingDate], [Feedback]) VALUES (1, N'TEST56694', N'FARM195082', CAST(N'2021-03-27T20:03:07.930' AS DateTime), N'soiltype', N'nuitrent', N'Actidity', N'Phlevel', N'EXP215552', NULL, NULL, NULL, NULL, CAST(N'2021-03-27T20:30:22.617' AS DateTime), NULL, CAST(N'2021-03-27T20:30:23.273' AS DateTime), NULL)
INSERT [dbo].[tblSoilTesting] ([ID], [TestId], [FarmerId], [ApplicationDate], [SoilType], [Nutrient], [Acidity], [PhLevel], [TestedBy], [TestDate], [DeletionDate], [HealthCardNo], [VisitDate], [SolutionDate], [VisitIntervalInHrs], [ClosingDate], [Feedback]) VALUES (2, N'TEST48248', N'FARM195082', CAST(N'2021-03-27T20:32:18.117' AS DateTime), N'soiltype', N'nuitrent', N'Actidity', N'Phlevel', N'EXP215552', NULL, NULL, NULL, NULL, CAST(N'2021-03-27T20:34:32.877' AS DateTime), NULL, CAST(N'2021-03-27T20:34:32.877' AS DateTime), NULL)
INSERT [dbo].[tblSoilTesting] ([ID], [TestId], [FarmerId], [ApplicationDate], [SoilType], [Nutrient], [Acidity], [PhLevel], [TestedBy], [TestDate], [DeletionDate], [HealthCardNo], [VisitDate], [SolutionDate], [VisitIntervalInHrs], [ClosingDate], [Feedback]) VALUES (3, N'TEST79459', N'FARM722915', CAST(N'2021-03-28T10:29:58.043' AS DateTime), N'soiltype', N'nuitrent', N'15', N'12', N'EXP215552', NULL, NULL, NULL, NULL, CAST(N'2021-03-28T10:36:30.550' AS DateTime), NULL, CAST(N'2021-03-28T10:36:30.550' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[tblSoilTesting] OFF
GO
SET IDENTITY_INSERT [dbo].[tblStaffDetails] ON 

SET IDENTITY_INSERT [dbo].[tblStaffDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[tblState] ON 

INSERT [dbo].[tblState] ([StateCode], [StateName]) VALUES (1, N'Bihar')
INSERT [dbo].[tblState] ([StateCode], [StateName]) VALUES (2, N'Uttar Pardesh (UP)')
INSERT [dbo].[tblState] ([StateCode], [StateName]) VALUES (3, N'Asam')
SET IDENTITY_INSERT [dbo].[tblState] OFF
GO
USE [master]
GO
