
@{
    ViewBag.Title = "aboutus";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<!-- Page Banner Area Start -->
<div class="page-banner-area section overlay gradient">
    <div class="container">
        <div class="row">
            <div class="page-banner col-12">
                <h2>ABOUT US</h2>
                <ul>
                    <li><a href="/home/index">HOME</a></li>
                    <li><a href="#">about</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page Banner Area End -->
<!-- About Area Start -->
<div id="about-area" class="about-area section pt-120 pb-120">
    <div class="container">
        <div class="row">
            <!--  About Image  -->
            
            <!--  About Content  -->
            <div class="about-content-2 col-lg-12 col-12">
             
                <h1>About Us</h1>
                <p>The main objective of this system is to provide help and advice to farmer in their crop farming.</p>
                <p>Through this system farmer can easily contact to experts with the help of Kisaan Sewa Kendra to get any agricultural advice and guidance. Generally, Our system will be connected to <b>Kisaan Sewa Kendra</b>, and if farmer have to ask any thing or have any issue, farmer will go to Kisaan Kendra and ask there for particular farming advice then the agent of Kisaan Kendra will tell farmer about our system<b> Online Agricultural Consultant</b> and suggest to register to this system. For registration framer have to give his basic detail there and then after login for that particular framer.</p>
               
            </div>
        </div>
    </div>
</div>
<!-- About Area End -->
