
@{
    ViewBag.Title = "contactus";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}
<!-- Page Banner Area Start -->
<div class="page-banner-area section overlay gradient">
    <div class="container">
        <div class="row">
            <div class="page-banner col-12">
                <h2>CONTACT US</h2>
                <ul>
                    <li><a href="/home/index">HOME</a></li>
                    <li><a href="#">contact us</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page Banner Area End -->
<!-- Contact Area Start -->
<div id="contact-area" class="contact-area section pt-120 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 col-12 mx-auto">
                <!-- Contact Info -->
                <div class="row mb-50">
                    <div class="col-md-4 col-12 mb-30">
                        <div class="single-contact-info text-center">
                            <h4>Email</h4>
                            <p>OAC025@gmail.com</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 mb-30">
                        <div class="single-contact-info text-center">
                            <h4>Phone</h4>
                            <p>9716654654</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 mb-30">
                        <div class="single-contact-info text-center">
                            <h4>Address</h4>
                            <p>House 28, chilla village mayur vihar phase-1, New Delhi</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- Contact Area End -->