
@{
    ViewBag.Title = "add_staff";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="page-content">

    <!-- Page header -->
    <div class="page-header">
        <br />
        <h1>
            <u>Add New Employees</u>
        </h1>
     
    </div>
   
    @if (TempData["staff_registration_msg"] != null)
    {
        <div class="callout callout-success fade in">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h1>@TempData["staff_registration_msg"]</h1>
        </div>
    }

    <form class="form-horizontal" action="/Admin/add_staff" method="post" role="form" enctype="multipart/form-data">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-sm-3">
                        <p>First Name</p>
                        <input type="text" class="form-control" name="FirstName" required placeholder="Enter FirstName">
                    </div>

                    <div class="col-sm-3">
                        <p>Middle Name</p>
                        <input type="text" class="form-control" name="MiddleName" placeholder="Enter MiddleName">
                    </div>
                    <div class="col-sm-3">
                        <p>Last Name</p>
                        <input type="text" class="form-control" name="LastName" required placeholder="Enter LastName">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <p>Mobile Number</p>
                        <input type="text" class="form-control" name="MobileNo" required placeholder="Enter MobileNo">
                    </div>

                    <div class="col-sm-3">
                        <p>Email</p>
                        <input type="text" class="form-control" name="EmailID" placeholder="Enter Email">
                    </div>
                    <div class="col-sm-3">
                        <p>Select Dob</p>
                        <input type="date" class="form-control" name="Dob" required placeholder="Enter Dob">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <p>Gender</p>
                        <select class="form-control" name="Gender" required>
                            <option value="">-Select Gender-</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>

                    <div class="col-sm-3">
                        <p>Department</p>
                        <input type="text" class="form-control" name="Department" required placeholder="Enter Department">
                    </div>
                    <div class="col-sm-3">
                        <p>RoleID</p>
                        <input type="text" class="form-control" name="RoleID" required placeholder="Enter RoleID">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <p>Image</p>
                        <input type="file" class="form-control" name="Image" id="Image" required>
                    </div>
                    <div class="col-sm-3">
                        <p>Aadhar No</p>
                        <input type="text" class="form-control" name="AadharNo" required placeholder="Enter RoleID">
                    </div>
                    <div class="col-sm-3">
                        <p>Pan No</p>
                        <input type="text" class="form-control" name="PanNo" required placeholder="Enter PanNo">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-sm-9">
                        <p>Full Address</p>
                        <textarea rows="5" cols="5" name="FullAddress" required class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-sm-9">
                        <input type="submit" value="Submit form" class="btn btn-success">
                        <input type="submit" value="Clear" class="btn btn-warning">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
