
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/KisanKendraLayout.cshtml";
}

<div class="page-content">

    <!-- Page header -->
    <div class="page-header">
        <div class="page-title">
            <h3> </h3>
        </div>
    </div>
    <!-- /page header -->
    <!-- Breadcrumbs line -->
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="">Kisan Kendra</a></li>
            <li class="active">Dashboard</li>
        </ul>
    </div>
   
    <center>

   <h1><u>Kisan Kendra Dashboard</u></h1>
    </center>
      

</div>

